* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.heading h1 {
    margin-top: 20px;
    text-align: center;
    padding: 20px 20px 0px 20px;
}

/* hero banner */
.heroSection {
    background-image: url(images/x.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: relative;
}

.heroText {
    text-align: center;
    color: #FBF9F1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroText h1 {
    font-size: 3rem;
}

.heroText p {
    font-size: 1rem;
}

.bookButton,
.knowMoreButton {
    background-color: #D5F0C1;
    border: transparent;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
}

.bookButton a {
    text-decoration: none;
    color: black;
}

/* aboutus section */

.aboutUsText {
    width: 50%;
    float: left;
}

.aboutUsText p {
    padding: 20px 20px 0px 20px;
}

.knowMoreButton {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.amenities {
    text-align: right;
    padding: 20px 20px 0px 20px;
}

.amenities ul li {
    text-align: right;
}

/* carousel */

.carousel {
    overflow: hidden;
    padding: 20px 20px 0px 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 70vh;
}

/* rooms */
.rooms{
    padding: 20px 20px 0px 20px;
    display:flex;
}
/* offerings */
.card{
    margin: auto;
}
/* form */
.formelement{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.fromelement div input,.fromelement div select{
    margin: 20px 0px 0px 20px;
    width: 50%;
    border: 2px solid gray;
    padding: 10px;
    background-color: white;
}
.formBox{
    width: 30%;
    
}
.form{
    width: 100%;
    margin: auto;
    position: relative;
    transform: translate(-10%);
    left: 50%;

}
.formBtn{
    margin-top: 20px;
    position: relative;
    left: 5%;
    /* top:450%; */
}

/* footer */
.footer{
    width: 100%;
    height: 30vh;
    background-color: black;
    position: absolute;
 bottom: -380%;
}
.footer p,.footer p a{
    color:#FBF9F1;
    position: relative;
    top: 50%;
    text-align: center;
    text-decoration: none;
}


@media screen and (max-width:922px) {

    /* hero banner */
    .heroSection {
        height: 50vh;
    }

    .heroText h1 {
        font-size: 1.5rem;
    }

    .heroText p {
        font-size: 1rem;
    }

    /* about us section */
    .aboutUsText {
        width: 100%;
        float: none;
    }

    .bookButton,
    .knowMoreButton {
        font-size: 0.7rem;
        
    }
    .knowMoreButton a{
        text-decoration: none;
        color:black;
    }

    .amenities {
        text-align: left;
    }

    .amenities ul li {
        text-align: left;
    }

    /* carousel */


    .carousel {
        width: 100%;
        height: 30vh;
        overflow: hidden;
    }

    .rooms{
        flex-direction: column;
    }
    .card{
        margin-top: 20px;
    }

    /* form */
    .formelement{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 80%;
    }
    
    .fromelement div input,.fromelement div select{
        margin: 0px;
        width: 100%;
        border: 2px solid gray;
        padding: 10px;
        background-color: white;
    }
    .formBox{
        width: 80%;        
    }
    .form{
        height: 70vh;
        width: 80%;
        margin: auto;
        position: relative;
        left: 15%;
        /* transform: translate(5%); */
        /* background-color: red; */
    }
    .formBtn button{
        margin: 5px;
    }
    
    /* footer */
    .footer{
        width: 100%;
        height: 30vh;
        background-color: black;
        position: relative;
     /* bottom: -400%; */
    }
    
    
}
